### Student Information
Name: Didier Fernando Salazar Estrada - 利 葉

Student ID: 111065427

GitHub ID: difersalest

---

### Instructions

1. First: do the **take home** exercises in the [DM2022-Lab1-Master](https://github.com/keziatamus/DM2022-Lab1-Master). You may need to copy some cells from the Lab notebook to this notebook. __This part is worth 20% of your grade.__


2. Second: follow the same process from the [DM2022-Lab1-Master](https://github.com/keziatamus/DM2022-Lab1-Master) on **the new dataset**. You don't need to explain all details as we did (some **minimal comments** explaining your code are useful though).  __This part is worth 30% of your grade.__
    - Download the [the new dataset](https://archive.ics.uci.edu/ml/datasets/Sentiment+Labelled+Sentences#). The dataset contains a `sentence` and `score` label. Read the specificiations of the dataset for details. 
    - You are allowed to use and modify the `helper` functions in the folder of the first lab session (notice they may need modification) or create your own.


3. Third: please attempt the following tasks on **the new dataset**. __This part is worth 30% of your grade.__
    - Generate meaningful **new data visualizations**. Refer to online resources and the Data Mining textbook for inspiration and ideas. 
    - Generate **TF-IDF features** from the tokens of each text. This will generating a document matrix, however, the weights will be computed differently (using the TF-IDF value of each word per document as opposed to the word frequency). Refer to this Sciki-learn [guide](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html) .
    - Implement a simple **Naive Bayes classifier** that automatically classifies the records into their categories. Use both the TF-IDF features and word frequency features to build two seperate classifiers. Comment on the differences.  Refer to this [article](https://hub.packtpub.com/implementing-3-naive-bayes-classifiers-in-scikit-learn/).


4. Fourth: In the lab, we applied each step really quickly just to illustrate how to work with your dataset. There are somethings that are not ideal or the most efficient/meaningful. Each dataset can be habdled differently as well. What are those inefficent parts you noticed? How can you improve the Data preprocessing for these specific datasets? __This part is worth 10% of your grade.__


5. Fifth: It's hard for us to follow if your code is messy, so please **tidy up your notebook** and **add minimal comments where needed**. __This part is worth 10% of your grade.__


You can submit your homework following these guidelines: [Git Intro & How to hand your homework](https://github.com/keziatamus/DM2022-Lab1-Homework/blob/main/Git%20Intro%20%26%20How%20to%20hand%20your%20homework.ipynb). Make sure to commit and save your changes to your repository __BEFORE the deadline (October 20th 11:59 pm, Thursday)__.

In [5]:
### Begin Assignment Here
# TEST necessary for when working with external scripts
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [130]:
#We start by importing our data from the text files as lists, each line corresponds to an item in the list
with open('amazon_cells_labelled.txt') as f:
    amazon = f.readlines()
with open('imdb_labelled.txt') as f:
    imdb = f.readlines()
with open('yelp_labelled.txt') as f:
    yelp = f.readlines()

#Now we want to split the corresponding data into the two categories, the sentence and its corresponding score 
amazon_sep=[]
imdb_sep=[]
yelp_sep=[]
amazon_sent=[]
imdb_sent=[]
yelp_sent=[]
amazon_score=[]
imdb_score=[]
yelp_score=[]
#We navigate into the lists, clear the data by eliminating the '\n' at the end and split into two columns following the format '\t'.
#In this way we will have from one side the sentence and in the other the score.
for x in range(len(amazon)):
    amazon_sep.append(amazon[x].removesuffix('\n').split('\t'))
    imdb_sep.append(imdb[x].removesuffix('\n').split('\t'))
    yelp_sep.append(yelp[x].removesuffix('\n').split('\t'))

#We separate the sentences and scores accordingly to create the categories later
sentences=[]
scores=[]
for x in range(len(amazon_sep)):
    amazon_sent.append(amazon_sep[x][0])
    amazon_score.append(amazon_sep[x][1])
    imdb_sent.append(imdb_sep[x][0])
    imdb_score.append(imdb_sep[x][1])
    yelp_sent.append(yelp_sep[x][0])
    yelp_score.append(yelp_sep[x][1])

#We integrate the sentences and scores accordingly from each site
sentences.extend(amazon_sent)
sentences.extend(imdb_sent)
sentences.extend(yelp_sent)
scores.extend(amazon_score)
scores.extend(imdb_score)
scores.extend(yelp_score)


#Because every sentence and score is separated each every 1000 item in the list we can create new categories, naming them for each site in that order too.
#Category 0 for amazon, 1 for imdb, 2 for yelp
category=[]
category_name=[]
for x in range(3000):
    if x<1000:
        category.append(0)
        category_name.append('amazon')
    if x>=1000 and x<2000:
        category.append(1)
        category_name.append('imdb')
    if x>=2000 and x<3000:
        category.append(2)
        category_name.append('yelp')

In [138]:
import pandas as pd
#Here is the data frame, with the columns made by the sentences, scores, the category assigned and the respective name of the site where the reviews where done.
X = pd.DataFrame(sentences,columns=['Sentences'])
X['Score']=scores
X['Category']=category
X['Category_name']=category_name
X

,Sentences,Score,Category,Category_name
0,So there is no way for me to plug it in here i...,0,0,amazon
1,"Good case, Excellent value.",1,0,amazon
2,Great for the jawbone.,1,0,amazon
3,Tied to charger for conversations lasting more...,0,0,amazon
4,The mic is great.,1,0,amazon
...,...,...,...,...
2995,I think food should have flavor and texture an...,0,2,yelp
2996,Appetite instantly gone.,0,2,yelp
2997,Overall I was not impressed and would not go b...,0,2,yelp
2998,"The whole experience was underwhelming, and I ...",0,2,yelp
2999,"Then, as if I hadn't wasted enough of my life ...",0,2,yelp